################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/AplicacionConsola/bin
/AplicacionConsola/obj
/AplicacionEscritorio/bin
/AplicacionEscritorio/obj
/AplicacionWeb/bin
/AplicacionWeb/obj
